{% extends "_layout" %}
{% block content %}

<section class="banner blue">
	<div class="grid-container">
		<div class="grid-x align-middle">
			
			<div class="small-12 medium-6 cell">
				{% if entry.map.one() %}
				<img src="{{ entry.map.one().url }}" />
				{% endif %}
			</div>
			<div class="small-12 medium-6 cell">
				<h1 class="white">{{ entry.title }}</h1>
				<h2 class="white">"{{ entry.tagLine }}"</h2>
			</div>
			
		</div>
	</div>
</section>
{% set amenities = entry.amenities.all() %}
{% set counter = 1 %}
{% for each in amenities %}
	{% if each.type == 'attraction' %}
		{% if counter == 1 %}
<section class="attraction{% if loop.last %}pb{% endif %}">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-middle">
			
			<div class="small-12 medium-6 cell">
				<h2 class="blue">{{ each.headline }}</h3>
				<p>{{ each.copy }}</p>
			</div>
			<div class="small-12 medium-6 cell">
				<img alt="{{ each.images.one().title }}" src="{{ each.images.one().url }}" />
			</div>
			
		</div>
	</div>
</section>
		{% set counter = counter + 1 %}
		{% else %}
<section class="attraction{% if loop.last %}pb{% endif %}">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-middle">
			
			<div class="small-12 medium-6 cell">
				<img alt="{{ each.images.one().title }}" src="{{ each.images.one().url }}" />
			</div>
			<div class="small-12 medium-6 cell">
				<h2 class="blue">{{ each.headline }}</h3>
				<p>{{ each.copy }}</p>
			</div>
			
		</div>
	</div>
</section>
		{% set counter = 1 %}
		{% endif %}
	{% endif %}
{% endfor %}
<section class="resort pbt light-grey">
	<div class="grid-container">
		<h1 class="blue underline inline-block">Resorts</h1>
		<div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
{% for each in amenities %}
	{% if each.type == 'resort' %}
	<div class="cell text-center">
		<div class="bg-image" style="background-image: url({{ each.thumbnail.one().url }})"></div>
		<div class="content">
			<p>{{ each.shortDescription }}</p>
			<a class="blue">Book Now</a>
		</div>
	</div>
	{% endif %}
{% endfor %}
		</div>
	</div>
</section>
<section class="activity light-grey">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-justify">
{% for each in amenities %}
	{% if each.type == 'activity' %}
			<div class="medium-12 large-shrink cell feature">
				<h2 class="blue">{{ each.activityName }}</h2>
				<p>{{ each.copy }}</p>
				<img class="icon" src="{{ each.icon.one().url }}" />
			</div>
	{% endif %}
{% endfor %}
		</div>
	</div>
</section>

<section class="airports pb light-grey">
	<div class="grid-container">
		<div class="grid-x">
			
			<div class="small-12 cell">
				<h1 class="text-center blue">Airports</h1>
			</div>
			
		</div>
	</div>
</section>

<section class="book-a-flight-cta pbt bg-image" style="background-image: url('{{ siteUrl }}assets/images/rum-cay-book-background.png')">
	<div class="grid-container">
		<div class="grid-x align-right">
			
			<div class="small-12 medium-6 cell">
				<h2 class="white">Ready to book a flight to {{ entry.title }}?</h2>
				<a class="blue button">Book Now</a>
			</div>
			
		</div>
	</div>
</section>
{% endblock %}