{% extends "_layout" %}
{% block content %}

<section class="banner bg-image destinations-banner" style="background-image: url('assets/images/destination-banner.png')">
	<div class="grid-container full-height">
		<div class="grid-x full-height align-top align-center">
			
			<div class="small-12 medium-8 large-6 cell">
				<div class="banner-content text-center">
					<h1 class="white">Placeholder Title</h1>
					<h3 class="white lowercase">Choose from over X destinations for your next dream vacation</h3>
					<p>
				</div>
			</div>
			
		</div><!-- grid-x -->
	</div><!-- grid-container -->
</section><!-- homepage banner -->

<section class="three-cards light-grey pbt pb-xlarge">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			
			<div class="small-12 medium-4 cell item">
				<div class="bg-image text-center" style="background-image: url('assets/images/bahamas_thumb.png')">
					<h2 class="white">The Bahamas</h2>
				</div>
				<div class="description text-center">
					<p>A short description of this island would go here</p>
					<a class="blue">Read More</a>
				</div>
			</div>
			<div class="small-12 medium-4 cell item">
				<div class="bg-image text-center" style="background-image: url('assets/images/cay-sal_thumb.png')">
					<h2 class="white">Cay Sal</h2>
				</div>
				<div class="description text-center">
					<p>A short description of this island would go here</p>
					<a class="blue">Read More</a>
				</div>
			</div>
			<div class="small-12 medium-4 cell item">
				<div class="bg-image text-center" style="background-image: url('assets/images/inagua_thumb.png')">
					<h2 class="white">Inagua</h2>
				</div>
				<div class="description text-center">
					<p>A short description of this island would go here</p>
					<a class="blue">Read More</a>
				</div>
			</div>
			
		</div>
	</div>
</section>

<section class="section-bubble bg-image pbt" style="background-image: url('assets/images/destinations-feature-bg.png');">
	<div class="grid-container">
		<div class="grid-x">
			
			<div class="small-12 medium-8 large-5 cell text-center blue bubble">
				<h1 class="white underline">Cat Island</h1>
				<p class="white pt-medium">Climb up Como Hill and explore the monastic ruins of the Hermitage as you take in the sights on the highest peak in Bahamas.</p>
				<a class="link white mt-medium">#LetsGoPlaces</a>
			</div>
			
		</div>
	</div>
</section>

<section class="three-cards light-grey pbt pb-xlarge">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			
			<div class="small-12 medium-4 cell item">
				<div class="bg-image text-center" style="background-image: url('assets/images/san-salvador_thumb.png')">
					<h2 class="white">San Salvador</h2>
				</div>
				<div class="description text-center">
					<p>A short description of this island would go here</p>
					<a class="blue">Read More</a>
				</div>
			</div>
			<div class="small-12 medium-4 cell item">
				<div class="bg-image text-center" style="background-image: url('assets/images/rum-cay_thumb.png')">
					<h2 class="white">Rum Sal</h2>
				</div>
				<div class="description text-center">
					<p>A short description of this island would go here</p>
					<a class="blue">Read More</a>
				</div>
			</div>
			<div class="small-12 medium-4 cell item">
				<div class="bg-image text-center" style="background-image: url('assets/images/andros_thumb.png')">
					<h2 class="white">Andros</h2>
				</div>
				<div class="description text-center">
					<p>A short description of this island would go here</p>
					<a class="blue">Read More</a>
				</div>
			</div>
			
		</div>
	</div>
</section>

{% endblock %}