{% extends "_layout" %}
{% block content %}

<section class="banner bg-image destinations-banner" style="background-image: url('assets/images/destination-banner.png')">
	<div class="grid-container full-height">
		<div class="grid-x full-height align-top align-center">
			
			<div class="small-12 medium-8 large-6 cell">
				<div class="banner-content text-center">
					<h1 class="white">Placeholder Title</h1>
					<h3 class="white lowercase">Choose from over X destinations for your next dream vacation</h3>
					<p>
				</div>
			</div>
			
		</div><!-- grid-x -->
	</div><!-- grid-container -->
</section><!-- homepage banner -->


{% set destinations = craft.entries.section('destinations').all() %}
			
{% set counter = 1 %}
{% for each in destinations %}

{% if counter == 1 %}
<section class="three-cards light-grey pbt pb-xlarge">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
	
			<div class="small-12 medium-4 cell item">
				<div class="bg-image text-center" style="background-image: url('assets/images/bahamas_thumb.png')">
					<h2 class="white">{{ each.title }}</h2>
				</div>
				<div class="description text-center">
					<p>{{ each.teaserDescription }}</p>
					<a href="{{ each.url }}" class="blue">Read More</a>
				</div>
			</div>
			{% set counter = counter + 1 %}
			{% elseif counter == 2 %}
			<div class="small-12 medium-4 cell item">
				<div class="bg-image text-center" style="background-image: url('assets/images/cay-sal_thumb.png')">
					<h2 class="white">{{ each.title }}</h2>
				</div>
				<div class="description text-center">
					<p>{{ each.teaserDescription }}</p>
					<a href="{{ each.url }}" class="blue">Read More</a>
				</div>
			</div>
			{% set counter = counter + 1 %}
			{% elseif counter == 3 %}
			<div class="small-12 medium-4 cell item">
				<div class="bg-image text-center" style="background-image: url('assets/images/inagua_thumb.png')">
					<h2 class="white">{{ each.title }}</h2>
				</div>
				<div class="description text-center">
					<p>{{ each.teaserDescription }}</p>
					<a href="{{ each.url }}" class="blue">Read More</a>
				</div>
			</div>
			
		</div>
	</div>
</section>
{% set counter = counter + 1 %}
{% elseif counter == 4 %}
<section class="homepage-guide bg-image pbt" style="background-image: url('assets/images/destinations-feature-bg.png');">
	<div class="grid-container">
		<div class="grid-x">
			
			<div class="text-center bubble">
				<div class="bubble-one"></div>
				<div class="bubble-two"></div>
				<div class="bubble-content">
					<h1 class="white underline">{{ each.title }}</h1>
					<p class="white pt-medium">{{ each.teaserDescription }}</p>
					<a href="{{ each.url }}" class="link white mt-medium">#LetsGoPlaces</a>
				</div>
			</div>
			
		</div>
	</div>
</section>
{% set counter = 1 %}
{% endif %}
{% if loop.last %}
	{% if counter < 3 %}
			</div>
		</div>
	</section>
	{% endif %}
{% endif %}
{% endfor %}

{% endblock %}