@charset "UTF-8";
/*
	
	Stylesheet for Carribean Blue Airlines
	©2018 Carribean Blue Airlines, All Rights Reserved
	Created by Nominee Design
	
*/
@import url(fonts.css);
/*
	
	General
	
	- Typography
	
	
*/
.grid-container {
  max-width: 80em; }

.no-margin {
  margin: 0px !important; }

.three-cards h2 {
  padding-top: 120px;
  padding-bottom: 120px; }

.three-cards .description {
  background: #fff;
  padding: 40px; }

.three-cards a {
  display: inline-block;
  margin-top: 30px; }

.inline-block {
  display: inline-block; }

.gradient-bottom-blue {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#78ddda), color-stop(0%, #78ddda));
  background: linear-gradient(90deg, #78ddda 0%, #78ddda 0%); }

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.full-height {
  height: 100%; }

.mt-small {
  margin-top: 20px; }

.mt-medium {
  margin-top: 40px; }

.p-small {
  padding: 20px; }

p-medium {
  padding: 40px; }

.pt-small {
  padding-top: 20px; }

.pt-medium {
  padding-top: 40px; }

.pb-xlarge {
  padding-bottom: 180px !important; }

.border-right {
  border-right: 1px solid #78ddda; }

.border-white {
  border-color: #fff; }

section {
  padding: 60px 0px; }
  section:first-of-type, section.pt {
    padding-top: 120px; }
  section:last-of-type, section.pb {
    padding-bottom: 120px; }
  section.no-pb {
    padding-bottom: 0px; }
  section.pbt {
    padding-bottom: 120px;
    padding-top: 120px; }
  section.no-padding {
    padding: 0px; }
  section.light-grey {
    background: #eee; }
  section.blue {
    background: #3875FC; }

div.light-grey {
  background: #eee; }

div.blue {
  background: #3875FC; }

div.teal {
  background: #78ddda; }

h1 {
  font: normal 700 3rem/1.3em "mont", sans-serif;
  letter-spacing: .025em; }

h2 {
  font: normal 700 1.75rem/1.3em "mont", sans-serif; }

h3 {
  font: normal 700 .9rem/1.2em "mont", sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em; }

p {
  font: normal 400 .9rem/2em "mont", sans-serif;
  letter-spacing: .025em; }

a {
  font: normal 700 .9rem/1.3em "mont", sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em; }

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0px; }
  h1.underline, h2.underline, h3.underline, h4.underline, h5.underline, h6.underline, p.underline, a.underline {
    padding-bottom: 40px;
    border-bottom: 2px solid #000; }
  h1.lowercase, h2.lowercase, h3.lowercase, h4.lowercase, h5.lowercase, h6.lowercase, p.lowercase, a.lowercase {
    text-transform: none; }
  h1.uppercase, h2.uppercase, h3.uppercase, h4.uppercase, h5.uppercase, h6.uppercase, p.uppercase, a.uppercase {
    text-transform: uppercase; }
  h1 .uppercase, h2 .uppercase, h3 .uppercase, h4 .uppercase, h5 .uppercase, h6 .uppercase, p .uppercase, a .uppercase {
    text-transform: uppercase; }
  h1.teal, h2.teal, h3.teal, h4.teal, h5.teal, h6.teal, p.teal, a.teal {
    color: #78ddda;
    border-color: #78ddda; }
  h1 .teal, h2 .teal, h3 .teal, h4 .teal, h5 .teal, h6 .teal, p .teal, a .teal {
    color: #78ddda; }
  h1.blue, h2.blue, h3.blue, h4.blue, h5.blue, h6.blue, p.blue, a.blue {
    color: #3875FC;
    border-color: #3875FC; }
  h1 .blue, h2 .blue, h3 .blue, h4 .blue, h5 .blue, h6 .blue, p .blue, a .blue {
    color: #3875FC; }
  h1.white, h2.white, h3.white, h4.white, h5.white, h6.white, p.white, a.white {
    color: #fff;
    border-color: #fff; }
  h1 .white, h2 .white, h3 .white, h4 .white, h5 .white, h6 .white, p .white, a .white {
    color: #fff; }
  h1.reg, h2.reg, h3.reg, h4.reg, h5.reg, h6.reg, p.reg, a.reg {
    font-weight: 400; }
  h1 .reg, h2 .reg, h3 .reg, h4 .reg, h5 .reg, h6 .reg, p .reg, a .reg {
    font-weight: 400; }
  h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold, p.bold, a.bold {
    font-weight: 700; }
  h1.circular, h2.circular, h3.circular, h4.circular, h5.circular, h6.circular, p.circular, a.circular {
    font-family: "Circular"; }

.button,
input[type="submit"] {
  display: inline-block;
  padding: 20px 20px;
  color: #fff;
  background: #78ddda; }
  .button.white,
  input[type="submit"].white {
    background: #fff;
    color: #3875FC; }
  .button.blue,
  input[type="submit"].blue {
    background: #3875FC;
    color: #fff; }

input[type="submit"] {
  border: none;
  font: normal 400 .9rem/1.2em "mont", sans-serif;
  text-transform: uppercase; }

.link {
  display: inline-block;
  color: #78ddda;
  padding-bottom: 5px;
  border-bottom: 1px solid #78ddda; }
  .link.white {
    color: #fff;
    border-color: #fff; }
  .link.blue {
    color: #fff;
    border-color: #3875FC; }

input[type="text"],
textarea {
  font: normal 400 .9rem/1.2em "mont", sans-serif;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 10px; }
  input[type="text"]:hover,
  textarea:hover {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #f9f9f9; }
  input[type="text"]:focus,
  textarea:focus {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

header {
  background: #3875FC;
  padding: 25px 70px; }
  header .logo {
    width: 75px; }
  header .link {
    color: #fff;
    margin-left: 50px;
    border: none;
    padding: 0px; }
  header h3 {
    margin-left: 30px; }
  header .button {
    padding: 10px 30px;
    margin-left: 50px; }
  header .header-type {
    letter-spacing: 0; }
  header .smaller-type {
    font-size: .9rem;
    margin-bottom: 10px; }

footer {
  padding: 120px 0px;
  background: #78ddda;
  position: relative; }
  footer .grid-container {
    position: relative;
    overflow: hidden;
    max-width: 100em; }
  footer .footer-header {
    padding-right: 60px; }
  footer .footer-nav {
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 30px; }
    footer .footer-nav h3 {
      margin-bottom: 25px; }
    footer .footer-nav .head {
      margin-bottom: 70px; }
    footer .footer-nav .cell {
      padding-right: 50px; }
  footer .waves {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
    z-index: 100; }
  footer .footer-logo {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0; }
    footer .footer-logo img {
      -webkit-transform: translate(10%, 5%);
              transform: translate(10%, 5%); }

.banner {
  padding: 30px; }
  .banner .grid-x {
    min-height: 450px; }
  .banner .homepage .grid-x {
    min-height: 450px; }

/*
	
	Pages
	
*/
.homepage-about h1 {
  margin-bottom: 25px; }

.homepage-about .icon {
  max-height: 100px; }

.why-carribean {
  margin-top: 70px; }
  .why-carribean img {
    margin-bottom: 25px; }

.homepage-book .choices .item {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #000; }
  .homepage-book .choices .item:first-of-type {
    border-right: 0px; }
  .homepage-book .choices .item:last-of-type {
    border-left: 0px; }

.homepage-book .homepage-book-header {
  margin-bottom: 30px; }

.homepage-book input,
.homepage-book select {
  margin-top: 50px; }

.homepage-book .button {
  margin-top: 30px; }

.bubble {
  background: rgba(104, 109, 179, 0.5);
  position: relative;
  width: 35vw;
  height: 35vw;
  border-radius: 10000px; }
  .bubble .bubble-one,
  .bubble .bubble-two {
    position: absolute;
    right: -20%;
    top: 5%;
    height: 5vw;
    width: 5vw;
    background: rgba(104, 109, 179, 0.5);
    border-radius: 1000px; }
  .bubble .bubble-two {
    height: 8vw;
    width: 8vw;
    left: 5%;
    bottom: -6%;
    top: auto; }
  .bubble .bubble-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.homepage-locations h2 {
  padding-top: 120px;
  padding-bottom: 120px; }

.homepage-locations .description {
  background: #fff;
  padding: 40px; }

.homepage-locations a {
  display: inline-block;
  margin-top: 30px; }

.about-our-story .teal {
  margin-right: 20px; }

.about-our-story h1 {
  padding-bottom: 10px;
  margin-bottom: 60px; }

.about-our-crew .team-member {
  margin-top: 50px; }
  .about-our-crew .team-member h2 {
    margin-bottom: 10px; }

.about-our-crew .headshot {
  margin-bottom: 20px;
  background: #444;
  height: 200px;
  width: 200px;
  border-radius: 10000px; }

.about-careers {
  position: relative; }
  .about-careers .grid-container {
    position: relative;
    z-index: 2; }
  .about-careers h2 {
    margin-bottom: 20px; }

.destinations-banner h1 {
  margin-bottom: 30px; }

.attraction h2 {
  margin-bottom: 40px; }

.resort h1 {
  padding-bottom: 20px; }

.resort .cell {
  margin-top: 70px;
  background: #fff; }

.resort .content {
  padding: 35px; }

.resort .bg-image {
  height: 250px; }

.book-a-flight-cta h2 {
  margin-bottom: 30px; }

.differences .feature,
.activity .feature {
  margin-bottom: 120px;
  padding-left: 70px;
  position: relative; }
  .differences .feature .feature-container,
  .activity .feature .feature-container {
    background: #fff;
    padding: 90px 70px; }
  .differences .feature h2,
  .activity .feature h2 {
    font-size: 2rem;
    margin-bottom: 70px; }
  .differences .feature .icon,
  .activity .feature .icon {
    position: absolute;
    top: 0;
    left: 10px;
    height: 100px;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%); }

@media (max-width: 1024px) {
  .differences .feature {
    padding-left: 0px; } }

.customer-testimonial {
  position: relative;
  padding: 200px 0px !important; }
  .customer-testimonial .testimonial {
    position: relative;
    z-index: 2;
    background: #eee;
    padding: 90px;
    border-radius: 70px;
    min-height: 280px; }
    .customer-testimonial .testimonial .sun {
      width: 100px;
      position: absolute;
      bottom: -30%;
      left: 15%; }
    .customer-testimonial .testimonial h2 {
      font-size: 1.3rem;
      margin-bottom: 30px; }
  .customer-testimonial .island {
    position: absolute;
    left: 5%;
    bottom: 0; }
  .customer-testimonial .postage {
    position: absolute;
    top: -12%;
    right: 0;
    width: 50%; }

@media (max-width: 1024px) {
  .customer-testimonial .testimonial .sun {
    left: 50%; } }

@media (max-width: 640px) {
  .customer-testimonial .testimonial .sun {
    left: 70%; } }

.difference-cta h2 {
  text-shadow: 0px 0px 1px #444; }

.difference-cta .grid-x {
  min-height: 250px; }

.contact-form {
  position: relative;
  padding-bottom: 350px !important; }
  .contact-form a {
    color: #000; }
  .contact-form h3 {
    margin-top: 30px;
    margin-bottom: 20px; }
  .contact-form .header {
    position: relative; }
    .contact-form .header .plane {
      position: absolute;
      bottom: 00%;
      left: 0; }
  .contact-form .contact-info {
    margin-top: 30px;
    margin-bottom: 20px; }
  .contact-form .island-one {
    width: 180px;
    position: absolute;
    left: 10%;
    bottom: 0; }
  .contact-form .island-two {
    width: 400px;
    position: absolute;
    right: 10%;
    bottom: 0;
    z-index: 1; }
  .contact-form .island-three {
    width: 250px;
    position: absolute;
    right: 28%;
    bottom: 0;
    z-index: 2; }

.faqs {
  padding-top: 200px;
  position: relative;
  padding-bottom: 400px !important; }
  .faqs .island-one {
    position: absolute;
    left: 20%;
    bottom: 0; }
  .faqs .island-two {
    position: absolute;
    right: 15%;
    bottom: 0; }
  .faqs h1 {
    padding-bottom: 20px;
    margin-bottom: 70px;
    font-size: 2.2rem; }
  .faqs article {
    position: relative; }
  .faqs .cloud-one {
    position: absolute;
    left: -42%;
    top: 50%; }
  .faqs .cloud-two {
    position: absolute;
    right: -42%;
    bottom: 0%; }
  .faqs .cloud-three {
    position: absolute;
    left: -30%;
    bottom: 0%; }

.dropdown {
  cursor: pointer; }
  .dropdown h2 {
    font-size: 1.5rem; }
  .dropdown .dropdown-header {
    margin-bottom: 0px; }
    .dropdown .dropdown-header .open.icon {
      display: none; }
    .dropdown .dropdown-header .closed.icon {
      display: block; }
    .dropdown .dropdown-header .icon-container {
      max-width: 35px; }
  .dropdown .dropdown-content {
    max-height: 0px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out; }
  .dropdown.is-open .dropdown-header .open.icon {
    display: block; }
  .dropdown.is-open .dropdown-header .closed.icon {
    display: none; }
  .dropdown.is-open .dropdown-content {
    max-height: 200px;
    margin-bottom: 30px; }

.faq-banner {
  position: relative; }
  .faq-banner .plane {
    position: absolute;
    left: 5%;
    bottom: 0; }
  .faq-banner .sub-nav {
    margin-top: 50px; }
    .faq-banner .sub-nav .cell {
      border: 1px solid #3875FC;
      color: #3875FC;
      padding: 20px 30px;
      border-left: 0px;
      border-radius: 1px solid #3875FC; }
      .faq-banner .sub-nav .cell:first-of-type {
        border-left: 1px solid #3875FC; }
      .faq-banner .sub-nav .cell a {
        color: #3875FC; }

.faq-contact-cta h2 {
  margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */
