<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#a55f41"/>
	
	<title>{% if title is defined %}{{ title  }} | {% endif %}{{ siteName }}</title>
	
	<link rel="shortcut icon" href="{{ siteUrl }}_assets/images/favicon.png" type="image/x-icon">
	
	<!-- Stylesheet -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.4/dist/css/foundation.min.css" integrity="sha256-VEEaOnBKVRoYPn4AID/tY/XKVxKEqXstoo/xZ6nemak= sha384-D46t32f421/hB30qwnim2pIcisNN5GU9+6m2Mfnd3dKpTSFidZLa08/1StEiCFId sha512-WkgzH8VKemDfwrp18r+wgbx+oHXOkfd2kJs7ocAXdGDgonXDXh88E90IRtRZRXtO0IHprxYHYlY14h+wyTsUDA==" crossorigin="anonymous">
	<link href="{{ siteUrl }}assets/css/fonts.css" rel="stylesheet"/>
	<link href="{{ siteUrl }}assets/css/style.css" rel="stylesheet"/>
	
	<!-- Scripts -->
	<script src="{{ siteUrl }}assets/js/jquery.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
{% block head %}

{% endblock %}

</head>
<body>
	
	<header>
		<div class="grid-x grid-margin-x align-middle">
			<div class="shrink cell">
				<a href="{{ siteUrl }}">
					<img class="logo" src="{{ siteUrl }}assets/icons/white_logo.svg" />
				</a>
			</div>
			<div class="shrink cell">
				<a href="{{ siteUrl }}">
					<img class="type-logo" src="{{ siteUrl }}assets/icons/long_white_type.svg" />
				</a>
			</div>
			<div class="auto cell">
				<div class="grid-x align-right align-middle">
					<div class="shrink cell">
						<a class="link" href="{{ siteUrl }}destinations">Destinations</a>
					</div>
					<div class="shrink cell">
						<a class="link" href="{{ siteUrl }}difference">The Difference</a>
					</div>
					<div class="shrink cell">
						<a class="link" href="{{ siteUrl }}contact">Contact</a>
					</div>
					<div class="shrink cell">
						<a class="button white" href="{{ siteUrl }}contact">Quote</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<main>
		{% block content %}
		<h1>Craft is not working</h1>
		{% endblock %}
	</main>
	
	<footer>
		<img src="{{ siteUrl }}assets/images/footer-waves.svg" class="waves" />
		<div class="footer-logo">
			<img src="{{ siteUrl }}assets/images/footer-logo.png" class="logo" />
		</div>
		<div class="grid-container">
			<div class="grid-x">
				
				<div class="small-12 medium-4 cell text-center border-right border-white footer-header">
					<div class="logo"><img src="assets/icons/long_white_type.svg" /></div>
					<p class="white">AirFlight Charters operates aircraft for Caribbean Blue Airways commercial use.</p>
				</div>
				<div class="small-12 medium-8 cell footer-nav">
					<div class="grid-x small-align-center">
						<div class="shrink cell">
							<a href="{{ siteUrl }}destinations">
								<h3 class="blue head">Destinations</h3>
							</a>
						</div>
						<div class="shrink cell">
							<a href="{{ siteUrl }}difference">
								<h3 class="blue head">The Difference</h3>
							</a>
						</div>
						<div class="shrink cell">
							<a href="{{ siteUrl }}faq">
								<h3 class="blue head">FAQ</h3>
							</a>
						</div>
						<div class="shrink cell">
							<a href="{{ siteUrl }}about">
								<h3 class="blue head">About</h3>
							</a>
						</div>				
						<div class="shrink cell">
							<a href="{{ siteUrl }}contact">
								<h3 class="blue head">Contact</h3>
							</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</footer>

<script src="{{ siteUrl }}assets/js/foundation.min.js"></script>
<script src="{{ siteUrl }}assets/js/script.js"></script>
</script>
</body>
</html>