{% extends "_layout" %}
{% block content %}
<section class="homepage banner bg-image no-padding" style="background-image: url('assets/images/about-banner.png')">
	<div class="grid-container full-height">
		<div class="grid-x full-height align-middle align-center">
			
			<div class="small-12 medium-8 large-6 cell">
				<div class="banner-content text-center">
					<h1 class="white">Placeholder Title</h1>
					<p class="white">Our mission at Caribbean Blue is to deliver the best flying experience with the highest quality of customer service.</p>
					<p>
				</div>
			</div>
			
		</div><!-- grid-x -->
	</div><!-- grid-container -->
</section><!-- homepage banner -->

<section class="about-our-story white pbt">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			
			<div class="small-12 medium-6 large-8 cell">
				<h1 class="underline blue inline-block">Our Story</h1>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, nostrud exerci tation ullamcorper suscipit nisl aliquip ex ea commo.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, nostrud exerci tation ullamcorper suscipit nisl aliquip ex ea commo.</p>
			</div>
			<div class="small-12 medium-6 large-4 cell timeline">
				<div class="grid-y grid-margin-y">
					<div class="shrink cell">
						<h3 class="lowercase"><span class="teal">2000</span> Caribbean Blue is Founded</h3>
					</div>
					<div class="shrink cell">
						<h3 class="lowercase"><span class="teal">2003</span> Another point in history</h3>
					</div>
					<div class="shrink cell">
						<h3 class="lowercase"><span class="teal">2008</span> Example part of story</h3>
					</div>
					<div class="shrink cell">
						<h3 class="lowercase"><span class="teal">2010</span> Caribbean Blue expands</h3>
					</div>
					<div class="shrink cell">
						<h3 class="lowercase"><span class="teal">2013</span> Another point in history</h3>
					</div>
					<div class="shrink cell">
						<h3 class="lowercase"><span class="teal">2016</span> Example part of story</h3>
					</div>
					<div class="shrink cell">
						<h3 class="lowercase"><span class="teal">2017</span> Added new destinations</h3>
					</div>
					<div class="shrink cell">
						<h3 class="lowercase"><span class="teal">2018</span> Last point goes here</h3>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>

<section class="about-our-crew light-grey pbt">
	<div class="grid-container">
		<div class="grid-x">
			<div class="small-12 cell">
				<h1 class="blue text-center">Our Crew</h1>
			</div>
		</div>
		<div class="grid-x small-up-1 medium-up-2 large-up-3 align-center">
			<div class="cell text-center team-member">
				<div class="headshot inline-block"></div>
				<h2>Mia Weaver</h2>
				<h3 class="lowercase">Company Position</h3>
			</div>
			<div class="cell text-center team-member">
				<div class="headshot inline-block"></div>
				<h2>John Gilmour</h2>
				<h3 class="lowercase">Company Position</h3>
			</div>
			<div class="cell text-center team-member">
				<div class="headshot inline-block"></div>
				<h2>Hudson Hurst</h2>
				<h3 class="lowercase">Company Position</h3>
			</div>
			<div class="cell text-center team-member">
				<div class="headshot inline-block"></div>
				<h2>Amelia Brett</h2>
				<h3 class="lowercase">Company Position</h3>
			</div>
			<div class="cell text-center team-member">
				<div class="headshot inline-block"></div>
				<h2>Zayn Williams</h2>
				<h3 class="lowercase">Company Position</h3>
			</div>
			<div class="cell text-center team-member">
				<div class="headshot inline-block"></div>
				<h2>Gordon Guthrie</h2>
				<h3 class="lowercase">Company Position</h3>
			</div>
		</div>
	</div>
</section>

<section class="about-careers pbt" style="background-image: url('assets/images/about-careers-bg.png'); background-size: cover;">
	<div class="grid-container">
		<div class="grid-x align-right">
			
			<div class="small-12 medium-6 large-4 cell">
				<h2 class="white">Want to join the Caribbean Blue crew?</h2>
				<a class="blue button" href="">View Openings</a>
			</div>
			
		</div>
	</div>
</section>


{% endblock %}