{% extends "_layout" %}
{% block content %}
<section class="homepage banner bg-image no-padding" style="background-image: url('assets/images/about-banner.png')">
	<div class="grid-container full-height">
		<div class="grid-x full-height align-middle align-center">
			
			<div class="small-12 medium-8 large-6 cell">
				<div class="banner-content text-center">
					<h1 class="white">Placeholder Title</h1>
					<p class="white">Our mission at Caribbean Blue is to deliver the best flying experience with the highest quality of customer service.</p>
					<p>
				</div>
			</div>
			
		</div><!-- grid-x -->
	</div><!-- grid-container -->
</section><!-- homepage banner -->

<section class="about-our-story white pbt">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			
			<div class="small-12 medium-6 large-8 cell">
				<h1 class="underline blue inline-block semi">Our Story</h1>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, nostrud exerci tation ullamcorper suscipit nisl aliquip ex ea commo.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, nostrud exerci tation ullamcorper suscipit nisl aliquip ex ea commo.</p>
			</div>
			<div class="small-12 medium-6 large-4 cell timeline">
				<div class="grid-y grid-margin-y">
					<div class="shrink cell">
						<h3 class="lowercase reg"><span class="teal bold">2000</span> Caribbean Blue is Founded</h3>
					</div>
					<div class="shrink cell">
						<h3 class="lowercase reg"><span class="teal bold">2003</span> Another point in history</h3>
					</div>
					<div class="shrink cell">
						<h3 class="lowercase reg"><span class="teal bold">2008</span> Example part of story</h3>
					</div>
					<div class="shrink cell">
						<h3 class="lowercase reg"><span class="teal bold">2010</span> Caribbean Blue expands</h3>
					</div>
					<div class="shrink cell">
						<h3 class="lowercase reg"><span class="teal bold">2013</span> Another point in history</h3>
					</div>
					<div class="shrink cell">
						<h3 class="lowercase reg"><span class="teal bold">2016</span> Example part of story</h3>
					</div>
					<div class="shrink cell">
						<h3 class="lowercase reg"><span class="teal bold">2017</span> Added new destinations</h3>
					</div>
					<div class="shrink cell">
						<h3 class="lowercase reg"><span class="teal bold">2018</span> Last point goes here</h3>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>

<section class="about-our-crew light-grey pbt">
	<div class="grid-container">
		
		<div class="grid-x align-center align-middle header">
			<div class="small-12 medium-5 cell text-center">
				<div class="headshot inline-block" style="background-image: url('assets/images/avatar.jpg');"></div>
			</div>
			<div class="small-12 medium-6 cell">
				<h2 class="reg blue">Meet the CEO</h2>
				<h1 class="header-one blue uppercase">Chris Allen</h1>
			</div>
		</div>
		
		<div class="grid-x grid-margin-x grid-padding-x align-center">
			<div class="small-12 medium-6 cell info">
				<p>Born in Texas and raised in Oklahoma, Chris began his flying career in 1987 when he attended the U.S. Air Force Academy (USAFA) in Colorado Springs. Chris graduated on the Dean’s Honor List from USAFA and was assigned as a 1st Lieutenant to Military Pilot Training in Chandler, Arizona. Chris has piloted airplanes to every continent in the world including the South Pole. He's held many distinguished positions for the U.S. Air Force including Presidential Support Pilot, Nuclear Airlift Pilot and Antarctica Pilot.</p>
				<p>After his career in the U.S. Air Force, Chris accepted a position flying the Boeing 737 for Delta Airlines. Chris is the proud parent of three teenage daughters with his wife Stacey and is an avid outdoorsman with a passion for fly-fishing, free-diving and relaxing in the sun!</p>
			</div>
			<div class="small-12 medium-4 cell">
				<div class="grid-x">
					<div class="small-12 cell category">
						<h3 class="underline blue">Education:</h3>
						<p class="text-right">U.S. Air Force Academy</p>
					</div>
					<div class="small-12 cell category">
						<h3 class="underline blue">Experience:</h3>
						<p class="text-right">Presidential Support Pilot</p>
						<p class="text-right">Nuclear Airlift Pilot</p>
						<p class="text-right">Antarctica Pilot</p>
						<p class="text-right">Delta Airlines Boeing 737 Pilot</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="bubble-one"></div>
	<div class="bubble-two"></div>
	<div class="bubble-three"></div>
	<div class="bubble-four"></div>
</section>

<section class="about-careers pbt blue-gradient-right" style="background-image: url('assets/images/about-careers-bg.png'); background-size: cover;">
	<div class="blue-gradient"></div>
	<div class="grid-container">
		<div class="grid-x align-right">
			
			<div class="small-12 medium-6 large-4 cell">
				<h2 class="white">Want to join the Caribbean Blue crew?</h2>
				<a class="blue button" href="">View Openings</a>
			</div>
			
		</div>
	</div>
</section>


{% endblock %}