{% extends "_layout" %}
{% block content %}

<section class="banner bg-image" style="background-image: url('assets/images/difference-bg.png')">
	<div class="grid-container full-height">
		<div class="grid-x full-height align-middle align-center">
			
			<div class="small-12 medium-8 large-6 cell">
				<div class="banner-content text-center">
					<h1 class="white">Fly With the Best of the Best</h1>
					<p class="white">This short paragraph explains why Caribbean Blue is better than its competitors and why to choose Caribbean Blue.</p>
					<p>
				</div>
			</div>
			
		</div><!-- grid-x -->
	</div><!-- grid-container -->
</section><!-- banner -->

<section class="differences pbt light-grey">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-justify">
			
			<div class="medium-12 large-6 cell feature">
				<div class="feature-container">
					<h2 class="blue">No Change Fees</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, nostrud exerci tation ullamcorper suscipit nisl aliquip ex ea commodo. </p>
					<img class="icon" src="assets/images/plane.png" />
				</div>
			</div>
			<div class="medium-12 large-6 cell feature">
				<div class="feature-container">
					<h2 class="blue">Pets Welcome</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, nostrud exerci tation ullamcorper suscipit nisl aliquip ex ea commodo. </p>
					<img class="icon" src="assets/images/paw.png" />
				</div>
			</div>
			<div class="medium-12 large-6 cell feature">
				<div class="feature-container">
					<h2 class="blue">Free Carry-On</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, nostrud exerci tation ullamcorper suscipit nisl aliquip ex ea commodo. </p>
					<img class="icon" src="assets/images/luggage.png" />
				</div>
			</div>
			<div class="medium-12 large-6 cell feature">
				<div class="feature-container">
					<h2 class="blue">Frequent Rewards</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, nostrud exerci tation ullamcorper suscipit nisl aliquip ex ea commodo. </p>
					<img class="icon" src="assets/images/banner.png" />
				</div>
			</div>
			
		</div>
	</div>
</section>

<section class="customer-testimonial pbt">
	<div class="grid-container">
		<div class="grid-x">
			
			<div class="small-12 cell testimonial">
				<h2 class="reg">Caribbean Blue provided me with the best flying experience I’ve ever had. I’m already looking forward to booking my next flight with them.</h2>
				<h3 class="blue">Customer Name</h3>
				<img src="assets/images/sun.png" class="sun" />
			</div>
			<img class="postage" src="assets/images/postage-marks.png" />
			<img class="island" src="assets/images/pig-island.png"/>
			
		</div>
	</div>
</section>

<section class="difference-cta bg-image pbt" style="background-image: url('assets/images/difference-cta-bg.png'); background-position: left center;">
	<div class="grid-container">
		<div class="grid-x align-right align-middle">
			
			<div class="small-12 medium-7 cell">
				<h2 class="white">It's 5 o'clock somewhere. Enjoy complimentary cocktails on every flight.</h2>
			</div>
			
		</div>
	</div>
</section>

{% endblock %}