{% extends "_layout" %}
{% block content %}

<section class="faq-banner no-pb">
	<img class="plane" src="assets/images/plane.png" />
	<div class="grid-container">
		<div class="grid-x align-center">
			
			<div class="small-12 medium-6 cell">
				<h1 class="blue text-center">Have a Question?</h1>
				<p class="blue">If you have a question that is not addressed here, you can contact us and ask.</p>
				
				<div class="grid-x align-center sub-nav">
					<div class="shrink cell">
						<a href="#booking">Booking</a>
					</div>
					<div class="shrink cell">
						<a href="#luggage">Luggage</a>
					</div>
					<div class="shrink cell">
						<a href="#rewards">Rewards</a>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
</section>

<section class="faqs">
	<img class="island-one" src="assets/images/treasure-island.png" />
	<img class="island-two" src="assets/images/beach-island.png" />
	<div class="grid-container">
		<div class="grid-x align-center">
			
			<article class="small-12 medium-8 cell">
				<img class="cloud-one" src="assets/images/cloud-one.png" />
				<h1 class="teal underline inline-block">Booking</h1>
				
				<div class="dropdown">
					<div class="dropdown-header">
						<div class="grid-x grid-margin-x align-middle">
							<div class="auto cell">
								<h3 class="blue">I lost my itinerary for an upcoming trip. Where can I get a replacement copy?</h3>
							</div>
							<div class="shrink cell icon-container">
								<img class="open icon" src="assets/images/open-clam.png" />
								<img class="closed icon" src="assets/images/closed-clam.png" />
							</div>
						</div>
					</div>
					<div class="dropdown-content">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, nostrud exerci tation ullamcorper suscipit nisl aliquip ex ea commodo. </p>
					</div>
				</div>
				<div class="dropdown">
					<div class="dropdown-header">
						<div class="grid-x grid-margin-x align-middle">
							<div class="auto cell">
								<h3 class="blue">Do you offer frequent flyer promotions when booking a flight?</h3>
							</div>
							<div class="shrink cell icon-container">
								<img class="open icon" src="assets/images/open-clam.png" />
								<img class="closed icon" src="assets/images/closed-clam.png" />
							</div>
						</div>
					</div>
					<div class="dropdown-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus finibus lectus, aliquam auctor diam ullamcorper nec. Ut lacinia risus sed metus posuere, ac ullamcorper diam sagittis. Mauris laoreet vestibulum vulputate. Maecenas accumsan auctor fringilla. Aenean in tellus eget nulla aliquet tristique.</p>
					</div>
				</div>
				
			</article>
			
		</div>
	</div>
</section>

<section class="faq-contact-cta bg-image pbt" style="background-image: url('assets/images/faq-cta-bg.png');">
	<div class="grid-container ">
			
		<div class="grid-x align-right">
			<div class="small-12 medium-shrink cell">
				<h2 class="white">More questions?<br>Contact our crew!</h2>
				<a class="button blue">Contact Us</a>
			</div>
		</div>
			
		</div>
	</div>
</section>

{% endblock %}