{% extends '_layout' %}
{% block content %}
<section class="homepage banner grid-container bg-image no-padding" style="background-image: url('assets/images/homepage-banner.png')">
	<div class="grid-container full-height">
		<div class="grid-x full-height align-middle align-center">
			
			<div class="small-12 medium-8 large-6 cell">
				<div class="banner-content text-center">
					<h1 class="white">Paradise Stars Here</h1>
					<p class="white">Caribbean Blue is the premier charter airline to the Caribbean, offering direct flights from Florida to the Bahamas, Turks & Caicos, St. Lucia, and more.</p>
					<p>
				</div>
			</div>
			
		</div><!-- grid-x -->
	</div><!-- grid-container -->
</section><!-- homepage banner -->

<section class="homepage-about grid-container pbt">
	<div class="grid-container">
		<div class="grid-x align-center">
			
			<div class="small-12 medium-8 large-6 cell text-center">
				<h1 class="blue">Why Caribbean Blue?</h1>
				<p>This short paragraph explains why Caribbean Blue is better than its competitors and why to choose Caribbean Blue.</p>
			</div>
			
			<div class="small-12 cell why-carribean">
				<div class="grid-x align-justify align-bottom">
					<div class="shrink cell text-center">
						<img src="assets/images/plane.png" />
						<h3>No Change Fees</h3>
					</div>
					<div class="shrink cell text-center">
						<img src="assets/images/paw.png" />
						<h3>No Change Fees</h3>
					</div>
					<div class="shrink cell text-center">
						<img src="assets/images/luggage.png" />
						<h3>No Change Fees</h3>
					</div>
					<div class="shrink cell text-center">
						<img src="assets/images/banner.png" />
						<h3>No Change Fees</h3>
					</div>
				</div>
			</div>
			
		</div><!-- grid-x -->
	</div><!-- grid-container -->
</section><!-- homepage about -->

<section class="homepage-book grid-container light-grey pbt">
	<div class="grid-container">
		
		<div class="grid-x">
			
			<div class="small-12 medium-6 cell">
				<h1 class="blue">Book your trip today!</h1>
			</div>
			<div class="small-12 medium-6 cell">
				<div class="grid-x align-right">
					<div class="small-12 medium-4 cell">
						<h3 class="blue">Shop Hotels</h3>
					</div>
					<div class="small-12 medium-4 cell">
						<h3 class="blue">Rent A Car</h3>
					</div>
				</div>
				<div class="grid-x choices">
					<div class="small-12 medium-4 cell item">
						<h3>Roundtrip</h3>
					</div>
					<div class="small-12 medium-4 cell item">
						<h3>One-way</h3>
					</div>
					<div class="small-12 medium-4 cell item">
						<h3>Multi-city</h3>
					</div>
				</div>
			</div>
			
		</div>
		<div class="grid-x">
			
		</div>
		
	</div>
</section>
<section class="homepage-guide grid-container"></section>
{% endblock %}
	