{% extends '_layout' %}
{% block content %}
<section class="homepage banner bg-image no-padding" style="background-image: url('assets/images/homepage-banner.png')">
	<div class="grid-container full-height">
		<div class="grid-x full-height align-middle align-center">
			
			<div class="small-12 medium-8 large-6 cell">
				<div class="banner-content text-center">
					<h1 class="white">Paradise Stars Here</h1>
					<p class="white">You’re #1 Caribbean Air Carrier Company Since 1987</p>
					<p>
				</div>
			</div>
			
		</div><!-- grid-x -->
	</div><!-- grid-container -->
</section><!-- homepage banner -->

<section class="homepage-about pbt scroll-animation-trigger">
	<div class="grid-container">
		<div class="grid-x align-center">
			
			<div class="small-12 medium-8 large-6 cell text-center fade-up">
				<h1 class="blue">Why Caribbean Blue?</h1>
				<p>This short paragraph explains why Caribbean Blue is better than its competitors and why to choose Caribbean Blue.</p>
			</div>
			
			<div class="small-12 cell why-carribean">
				<div class="grid-x align-justify align-bottom">
					<div class="shrink cell text-center fade-up transition-delay-1">
						<img class="icon" src="assets/images/plane.png" />
						<h3>No Change Fees</h3>
					</div>
					<div class="shrink cell text-center fade-up transition-delay-2">
						<img class="icon" src="assets/images/paw.png" />
						<h3>No Change Fees</h3>
					</div>
					<div class="shrink cell text-center fade-up transition-delay-3">
						<img class="icon" src="assets/images/luggage.png" />
						<h3>No Change Fees</h3>
					</div>
					<div class="shrink cell text-center fade-up transition-delay-4">
						<img class="icon" src="assets/images/banner.png" />
						<h3>No Change Fees</h3>
					</div>
				</div>
			</div>
			
		</div><!-- grid-x -->
	</div><!-- grid-container -->
</section><!-- homepage about -->

<section class="homepage-book light-grey pbt">
	<div class="grid-container">
		
		<div class="grid-x align-bottom grid-margin-x homepage-book-header">
			
			<div class="small-12 medium-6 cell">
				<h1 class="blue">Book your trip today!</h1>
			</div>
			<div class="small-12 medium-6 cell">
				<div class="grid-x choices">
					<div class="small-12 medium-4 cell item text-center">
						<h3>Roundtrip</h3>
					</div>
					<div class="small-12 medium-4 cell item text-center">
						<h3>One-way</h3>
					</div>
					<div class="small-12 medium-4 cell item text-center">
						<h3>Multi-city</h3>
					</div>
				</div>
			</div>
			
		</div>
		<div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
			<div class="cell">
				<input type="text" placeholder="From" />
			</div>
			<div class="cell">
				<input type="text" placeholder="To" />
			</div>
			<div class="cell">
				<input type="date" placeholder="Departing:" />
			</div>
			<div class="cell date-cell">
				<input type="date" placeholder="Returning:" />
			</div>
			<div class="cell">
				<select>
					<option hidden>Adults</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
			</div>
			<div class="cell">
				<select>
					<option hidden>Children</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
			</div>
		</div>
		<div class="grid-x">
			<div class="shrink cell">
				<a class="button">Find a Flight</a>
			</div>
		</div>
		
	</div>
</section>

<section class="homepage-guide bg-image pbt scroll-animation-trigger" style="background-image: url('assets/images/homepage-guide-bg.png');">
	<div class="grid-container">
		<div class="grid-x">
			
			<div class="text-center bubble rotate-fade-up">
				<div class="bubble-one rotate-fade-up transition-delay-4 transition-duration-6"></div>
				<div class="bubble-two rotate-fade-up transition-delay-7 transition-duration-4"></div>
				<div class="bubble-content">
					<h1 class="white underline">Your Guide to the Caribbean</h1>
					<p class="white pt-medium">This section gives a short overview of the islands in the Caribbean. The image to the right features a map of the islands.</p>
					<a class="link white mt-medium">#LetsGoPlaces</a>
				</div>
			</div>
			
		</div>
	</div>
</section>

<section class="homepage-locations three-cards light-grey pbt pb-xlarge scroll-animation-trigger">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			
			<div class="small-12 medium-4 cell item fade-up">
				<div class="bg-image text-center" style="background-image: url('assets/images/bahamas.png')">
					<h2 class="white">The Bahamas</h2>
				</div>
				<div class="description text-center">
					<p>A short description of this island would go here</p>
					<a class="blue">Read More</a>
				</div>
			</div>
			<div class="small-12 medium-4 cell item fade-up transition-delay-1">
				<div class="bg-image text-center" style="background-image: url('assets/images/resort.png')">
					<h2 class="white">Resort Name</h2>
				</div>
				<div class="description text-center">
					<p>A short description of this resort would go here</p>
					<a class="blue">Read More</a>
				</div>
			</div>
			<div class="small-12 medium-4 cell item fade-up transition-delay-2">
				<div class="bg-image text-center" style="background-image: url('assets/images/activity.png')">
					<h2 class="white">Activity</h2>
				</div>
				<div class="description text-center">
					<p>A short description of this activity would go here</p>
					<a class="blue">Read More</a>
				</div>
			</div>
			
		</div>
	</div>
</section>


{% endblock %}
	