/*
	
	
	Fonts for Carribean Blue
	
	
*/


// -------- Montserrat -------- //

// Regular
@font-face {
	font-family: "mont";
	src: url('../fonts/Montserrat-Regular.otf');
	font-weight: 400;
}

// Bold
@font-face {
	font-family: "mont";
	src: url('../fonts/Montserrat-Bold.otf');
	font-weight: 700;
}


// --------- Circular -------- //

// Regular
@font-face {
	font-family: "Circular";
	src: url('../fonts/CircularStd-Book.otf');
	font-weight: 400;
}

// Bold
@font-face {
	font-family: "Circular";
	src: url('../fonts/CircularStd-Bold.otf');
	font-weight: 700;
}