/*
	
	Stylesheet for Carribean Blue Airlines
	©2018 Carribean Blue Airlines, All Rights Reserved
	Created by Nominee Design
	
*/

@import 'fonts.css';

@media (max-width: 1024px) {
	html {
		font-size: 90%;
	}
}
@media (max-width: 640px) {
	html {
		font-size: 80%;
	}
}

/*
	
	General
	
	- Typography
	
	
*/

// -------- Brand -------- //

// Utlity Variables

$maxWidth: 100em;

// Colors
$teal: #78ddda;
$blue: #3875FC;
$teal-gradient: linear-gradient(#3875FC, #78ddda);
$transparent-blue: rgba(56, 119, 253, 0.5);
$light-grey: #eee;


// -------- Foundation -------- //

.grid-container {
	max-width: $maxWidth;
	padding: 0px 8vw;
}

// -------- Utilities -------- //

.blue-gradient-right {
	position: relative;
	
	.blue-gradient {
		background: linear-gradient(to right, rgba(122,222,219,0) 40%, rgba(121,222,219,0.65) 70%);
		position: absolute;
			top: 0;
			left: 0;
		height: 100%;
		width: 100%;
	}
}

.no-margin {
	margin: 0px !important;
}

.three-cards {
	h2 {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.description {
		background: #fff;
		padding: 40px;
	}
	a {
		display: inline-block;
		margin-top: 30px;
	}
}

.inline-block {
	display: inline-block;
}

.gradient-bottom-blue {
	position: absolute;
		top: 0;
		left: 0;
	z-index: 1;
	height: 100%; width: 100%;
	background: linear-gradient(90deg, $teal 0%, $teal 0%);
}

.bg-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.full-height {
	height: 100%;
}

// Margin

.mt-small {
	margin-top: 20px;
}
.mt-medium {
	margin-top: 40px;
}

// Padding
.p-small {
	padding: 20px;
}
p-medium {
	padding: 40px;
}
.pt-small {
	padding-top: 20px;
}
.pt-medium {
	padding-top: 40px;
}
.pb-xlarge {
	padding-bottom: 180px !important;
}

// Border
.border-right {
	border-right: 1px solid $teal;
}

.border-white {
	border-color: #fff;
}

// Section
section {
	padding: 60px 0px;
	
	&:first-of-type,
	&.pt {
		padding-top: 120px;
	}
	&:last-of-type,
	&.pb {
		padding-bottom: 120px;
	}
	&.no-pb {
		padding-bottom: 0px;
	}
	&.pbt {
		padding-bottom: 120px;
		padding-top: 120px;
	}
	&.no-padding {
		padding: 0px;
	}
	&.no-padding-bot {
		padding-bottom: 0px;
	}
	
	// Styles
	
	// Colors
	&.light-grey {
		background: $light-grey;
	}
	&.blue {
		background: $blue;
	}

}

// Div
div {
	
	&.light-grey {
		background: $light-grey;
	}
	&.blue {
		background: $blue;
	}
	&.teal {
		background: $teal;
	}

}

// -------- Typography ------- //

// Header One
h1 {
	font: normal 700 3rem/1.3em "mont", sans-serif;
	letter-spacing: .025em;
}

h2 {
	font: normal 700 1.75rem/1.3em "mont", sans-serif;
}

h3 {
	font: normal 700 .9rem/1.2em "mont", sans-serif;
	text-transform: uppercase;
	letter-spacing: .1em;
}

p {
	font: normal 400 .9rem/2em "mont", sans-serif;
	letter-spacing: .025em;
}

a {
	font: normal 700 .9rem/1.3em "mont", sans-serif;
	text-transform: uppercase;
	letter-spacing: .1em;
}

// Styles
h1, h2, h3, h4, h5, h6, p, a {
	margin: 0px;
	
	// Styles
	&.underline {
		padding-bottom: 40px;
		border-bottom: 2px solid #000;
	}
	&.lowercase {
		text-transform: none;
	}
	&.uppercase {
		text-transform: uppercase;
	}
	.uppercase {
		text-transform: uppercase;
	}
	
	// Colors
	&.teal {
		color: $teal;
		border-color: $teal;
	}
	.teal {
		color: $teal;
	}
	&.blue {
		color: $blue;
		border-color: $blue;
	}
	.blue {
		color: $blue;
	}
	&.white {
		color: #fff;
		border-color: #fff;
	}
	.white {
		color: #fff;
	}
	
	// Weights
	&.reg {
		font-weight: 400;
	}
	.reg {
		font-weight: 400;
	}
	&.bold {
		font-weight: 700;
	}
	.bold {
		font-weight: 700;
	}
	
	// Fonts
	&.circular {
		font-family: "Circular";
	}
	
	// Headers {
	&.header-one {
		@extend h1;
	}
	&.header-two {
		@extend h2;
	}
	&.header-three {
		@extend h3;
	}
	
}


// --------- Scroll Animations --------- //

// Easings

$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);;

// Animations Final State
.fade-up {
	opacity: 1;
	transform: translateY(0);
	
	transition: all .8s $easeOutBack;
}

.grow-down {
	max-height: 1000px;
	overflow: hidden;
	
	transition: all .8s ease-out;
}
.shrink-down {
	transform: scale(0, 0);
	
	transition: all .8s ease-out;
}

.rotate-fade-up {
	opacity: 1;
	transform: rotate(0deg) translateY(0px);
	
	transition: opacity .5s ease-out, transform 1s $easeOutBack;
}

.scroll-animation-trigger {
	
	// Animations Beginning State
	
	.fade-up {
		opacity: 0;
		transform: translateY(20px);
	}
	
	.grow-down {
		padding: 0px !important;
		min-height: 0px !important;
		max-height: 0px !important;
	}
	&.grow-down {
		padding: 0px !important;
		min-height: 0px !important;
		max-height: 0px !important;
	}
	
	.shrink-down {
		transform: scale(1, 1);
	}
	
	.rotate-fade-up {
		opacity: 0;
		transform: rotate(5deg) translateX(-40px);
	}
	
}

// Transition Delay

@for $i from 1 through 10 {
	.transition-delay-#{$i} {
		transition-delay: $i / 10 + s;
	}
}

// Transition Length

@for $i from 1 through 10 {
	.transition-duration-#{$i} {
		transition-duration: $i * 2 / 10 + s;
	}
}

// --------- Interactive -------- //

// Button
.button,
input[type="submit"] {
	display: inline-block;
	padding: 20px 20px;
	color: #fff;
	background: $teal;
	
	&.white {
		background: #fff;
		color: $blue;
	}
	&.blue {
		background: $blue;
		color: #fff;
	}
}

input[type="submit"] {
	border: none;
	font: normal 400 .9rem/1.2em "mont", sans-serif;
	text-transform: uppercase;
}

// Link
.link {
	display: inline-block;
	color: $teal;
	padding-bottom: 5px;
	border-bottom: 1px solid $teal;
	
		&.white {
			color: #fff;
			border-color: #fff;
		}
		&.blue {
			color: #fff;
			border-color: $blue;
		}
}

// Text Input
input[type="text"],
input[type="date"],
textarea {
	font: normal 400 .9rem/1.2em "mont", sans-serif;
	border: none;
	box-shadow: none;
	margin-top: 10px;
	
	&:hover {
		border: none;
		box-shadow: none;
		background: #f9f9f9;
	}
	&:focus {
		border: none;
		box-shadow: none;
	}
}


	
// --------	Basic Templates -------- //

// Header
header {
	background: $blue;
	padding: 25px 70px;
	.logo {
		width: 75px;
	}
	.type-logo {
		width: 20vw;
		min-width: 250px;
	}
	.link {
		color: #fff;
		margin-left: 50px;
		border: none;
		padding: 0px;
	}
	h3 {
		margin-left: 30px;
	}
	.button {
		padding: 10px 30px;
		margin-left: 50px;
	}
	.header-type {
		letter-spacing: 0;
	}
	.smaller-type {
		font-size: .9rem;
		margin-bottom: 10px;
	}
}

// Footer
footer {
	padding: 120px 0px;
	background: $teal;
	position: relative;
	
	.grid-container {
		position: relative;
		overflow: hidden;
		max-width: 100em;
	}
	.footer-header {
		padding-right: 60px;
	}
	.footer-nav {
		padding-left: 60px;
		padding-top: 20px;
		padding-bottom: 30px;
		
		h3 {
			margin-bottom: 25px;
		}
		.head {
			margin-bottom: 70px;
		}
		.cell {
			padding-right: 50px;
		}
	}
	.waves {
		position: absolute;
		width: 100%;
			top: 0;
			left: 0;
		transform: translateY(-75%);
		z-index: 100;
	}
	.footer-logo {
		overflow: hidden;
		position: absolute;
			bottom: 0;
			right: 0;
		img {
			transform: translate(10%, 5%);
		}
	}
}

@media (max-width: 640px) {
	footer {
		.footer-header {
			padding-right: 0px;
			border: none;
		}
		.footer-nav {
			padding-left: 0px;
			
			.head {
				margin-bottom: 15px;
			}
		}
	}
}

// Banner 

.banner {
	padding: 30px;
	.grid-x {
		min-height: 70vh;
		max-height: 80vh;
	}
	.homepage {
		.grid-x {
			min-height: 70vh;
			max-height: 80vh;
		}
	}
}

/*
	
	Pages
	
*/

// -------- Homepage -------- //

.homepage-about {
	h1 {
		margin-bottom: 25px;
	}
	.icon {
		max-height: 100px;
	}
}
.why-carribean {
	margin-top: 70px;
	
	img {
		margin-bottom: 25px;
	}
}

// Booking
.homepage-book {
	.choices {
		.item {
			margin-top: 20px;
			padding: 20px;
			border: 2px solid #000;
			
			&:first-of-type {
				border-right: 0px;
			}
			&:last-of-type {
				border-left: 0px;
			}
		}
	}
	.homepage-book-header {
		margin-bottom: 30px;
	}
	input,
	select {
		margin-top: 50px;
		color: #000;
		padding-left: 0px;
		border: none;
		border-bottom: 2px solid #444;
		background: none;
		
		transition: all .1s ease-out;
		
		&::placeholder {
			color: #000;
		}
		&:hover {
			background: none;
			border: none;
			box-shadow: none;
			border-bottom: 2px solid #000;
			padding-bottom: 11px;
		}
		&:active {
			padding-bottom: 0px;
			
			transition: all .1s ease-out;
		}
		&:focus {
			background: none;
			border: none;
			box-shadow: none;
			border-bottom: 2px solid #000;
			padding-bottom: 8px;
			
			transition: all .1s ease-out
		}
	}
	.date-cell {
		position: relative;
		.icon {
			position: absolute;
			width: 20px;
			left: 0;
			bottom: 1.8rem;
		}
	}
	select {
		&:after {
			display: block;
			content: 'Test';
			width: 20px;
		}
	}
	input[type="date"] {
		position: relative;
		
		&:before {
			content: attr(placeholder) !important;
			color: #000;
			margin-right: 20px;
		}
		
		&:focus,
		&:valid {
			&:before {
				content: '';
			}
		}
	}
	.button {
		margin-top: 30px;
	}
}

// Guide

.bubble {
	background: $transparent-blue;
	position: relative;
	width: 35vw; min-width: 500px;
	height: 35vw; min-height: 500px;
	border-radius: 10000px;
	
	.bubble-one,
	.bubble-two {
		position: absolute;
			right: -20%;
			top: 5%;
		height: 5vw;
		width: 5vw;
		background: $transparent-blue;
		border-radius: 1000px;
	}
	.bubble-two {
		height: 8vw;
		width: 8vw;
		left: 5%;
		bottom: -6%;
		top: auto;
	}
	.bubble-content {
		position: absolute;
			top: 50%;
			left: 50%;
			width: 80%;
		transform: translate(-50%, -50%);
	}
}

@media (max-width: 1024px) {
	
	.bubble {
		width: 60vw;
		height: 6f0vw;
	}
	
}
@media (max-width: 640px) {
	
	.bubble {
		min-height: 0px;
		min-width: 0px;
		
		h1 {
			font-size: 1.8rem;
			padding-bottom: 20px;
			margin-bottom: 20px;
		}
		.pt-medium {
			padding-top: 0px;
		}
	}
	
}

// Locations
.homepage-locations {
	h2 {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.description {
		background: #fff;
		padding: 40px;
	}
	a {
		display: inline-block;
		margin-top: 30px;
	}
}

// --------- About -------- //

// Story
.about-our-story {
	.teal {
		margin-right: 20px;
	}
	h1 {
		padding-bottom: 10px;
		margin-bottom: 60px;
	}
	p {
		padding-right: 120px;
		margin-bottom: 20px;
	}
}
.timeline {
	
	.cell {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
}

// Crew
.about-our-crew {
	position: relative;
	
	.team-member {
		margin-top: 50px;
		
		h2 {
			margin-bottom: 10px;
		}
	}
	.headshot {
		margin-bottom: 20px;
		background: #444;
		height: 200px;
		width: 200px;
		border-radius: 10000px;
	}
	
	.bubble-one,
	.bubble-two,
	.bubble-three,
	.bubble-four {
		position: absolute;
		background: $transparent-blue;
		border-radius: 1000px;
			top: -6vw;
			left: -7vw;
		height: 20vw;
		width: 20vw;
	}
	.bubble-two {
		height: 4vw;
		width: 4vw;
			top: 12vw;
			left: -2vw;
	}
	.bubble-three {
		height: 4vw;
		width: 4vw;
			top: 14vw;
			left: 11vw;
	}
	.bubble-four {
		height: 3vw;
		width: 3vw;
			top: -7vw;
			left: 14vw;
	}
	h3.underline {
		display: block;
		padding-bottom: 20px;
		margin-bottom: 10px;
	}
	.category {
		margin-bottom: 30px;
	}
	.header {
		margin-bottom: 50px;
	}
}

@media (max-width: 640px) {
	.about-our-crew {
		.info {
			margin-bottom: 50px;
		}
	}
}

// Careers
.about-careers {
	position: relative;
	
	.grid-container {
		position: relative;
		z-index: 2;
	}
	h2 {
		margin-bottom: 20px;
	}
}

// -------- Destinations -------- //
.destinations-banner {
	h1 {
		margin-bottom: 30px;
	}
}
.attraction {
	h2 {
		margin-bottom: 40px;
	}
	.left,
	.right {
		margin-bottom: 100px;
		
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
	.left {
		.content {
			padding-right: 25px;
		}
		.image {
			padding-left: 25px;
		}
	}
	.right {
		.content {
			padding-left: 25px;
		}
		.image {
			padding-right: 25px;
		}
	}
}
.resort {
	h1 {
		margin-bottom: 70px;
	}
	h2 {
		padding-bottom: 20px;
	}
	.cell {
		margin-top: 70px;
		background: #fff;
	}
	.content {
		padding: 35px;
		p {
			margin-bottom: 20px;
		}
	}
	.bg-image {
		height: 250px;
	}
}
.book-a-flight-cta {
	h2 {
		margin-bottom: 30px;
	}
}
.activity {
	h2 {
		margin-bottom: 120px;
		padding-bottom: 20px;
	}
}
.inner-destination {
	position: relative;
	
	.bubble-one,
	.bubble-two,
	.bubble-three,
	.bubble-four {
		background: $transparent-blue;
		mix-blend-mode: multiply;
		border-radius: 1000px;
		height: 6vw;
		width: 6vw;
		position: absolute;
			bottom: -3vw;
			left: 10vw;
	}
	.bubble-two {
		height: 3vw;
		width: 3vw;
			bottom: -6vw;
			left: 16vw;
	}
	.bubble-three {
		height: 3.5vw;
		width: 3.5vw;
			bottom: -5vw;
			right: 16vw;
			left: auto;
	}
	.bubble-four {
		height: 5vw;
		width: 5vw;
		bottom: -3vw;
		right: 10vw;
		left: auto;
	}
}

// -------- Difference -------- //
.differences,
.activity {
		.feature {
		margin-bottom: 120px;
		padding-left: 70px;
		position: relative;
		
		.feature-container {
			background: #fff;
			padding: 90px 70px;
		}
		
		h2 {
			font-size: 2rem;
			margin-bottom: 70px;
		}
		.icon {
			position: absolute;
				top: 0;
				left: 10px;
			height: 100px;
			transform: translate(-0%, -50%);
		}
	}
}

@media (max-width: 1024px) {
	.differences {
		.feature {
			padding-left: 0px;
		}
	}
} 

.customer-testimonial {
	position: relative;
	padding: 200px 0px !important;
	
	.testimonial {
		position: relative;
		z-index: 2;
		background: $light-grey; 
		padding: 90px;
		border-radius: 70px;
		min-height: 280px;
		
		.sun {
			width: 100px;
			position: absolute;
				bottom: -30%;
				left: 15%;
		}
		h2 {
			font-size: 1.3rem;
			margin-bottom: 30px;
		}
	}
	
	.island {
		position: absolute;
			left: 5%;
			bottom: 0;
	}
	.postage {
		position: absolute;
			top: -12%;
			right: 0;
		width: 50%;
	}
}

@media (max-width: 1024px) {
	.customer-testimonial {
		.testimonial {
			.sun {
				left: 50%;
			}
		}
	}
}

@media (max-width: 640px) {
	.customer-testimonial {
		.testimonial {
			.sun {
				left: 70%;
			}
		}
	}
}

.difference-cta {
	h2 {
		text-shadow: 0px 0px 1px #444;
	}
	.grid-x {
		min-height: 250px;
	}
}

// -------- Contact -------- //
.contact-form {
	position: relative;
	padding-bottom: 350px !important;
	
	a {
		color: #000;
	}
	h3 {
		margin-top: 30px;
		margin-bottom: 20px;
	}
	.header {
		position: relative;
		
		.plane {
			position: absolute;
				bottom: 00%;
				left: 0;
		}
	}
	.contact-info {
		margin-top: 30px;
		margin-bottom: 20px;
	}
	.island-one {
		width: 180px;
		position: absolute;
			left: 10%;
			bottom: 0;
	}
	.island-two {
		width: 400px;
		position: absolute;
			right: 10%;
			bottom: 0;
		z-index: 1;
	}
	.island-three {
		width: 250px;
		position: absolute;
			right: 28%;
			bottom: 0;
		z-index: 2;
	}
}

// -------- FAQ -------- //
.faqs {
	padding-top: 200px;
	position: relative;
	padding-bottom: 400px !important;
	
	.island-one {
		position: absolute;
			left: 20%;
			bottom: 0; 
	}
	.island-two {
		position: absolute;
			right: 15%;
			bottom: 0;
	}
	h1 {
		padding-bottom: 20px;
		margin-bottom: 70px;
		font-size: 2.2rem;
	}
	
	article {
		position: relative;
	}
	.cloud-one {
		position: absolute;
			left: -42%;
			top: 50%;
	}
	.cloud-two {
		position: absolute;
			right: -42%;
			bottom: 0%;
	}
	.cloud-three {
		position: absolute;
			left: -30%;
			bottom: 0%;
	}
}

.dropdown {
	cursor: pointer;
	
	h2 {
		font-size: 1.5rem;
	}
	.dropdown-header {
		margin-bottom: 0px;
		
		.open.icon {
			display: none;
		}
		.closed.icon {
			display: block;
		}
		.icon-container {
			max-width: 35px;
		}
	}
	.dropdown-content {
		max-height: 0px;
		overflow: hidden;
		margin-top: 10px;
		margin-bottom: 10px;
		
		transition: all .5s ease-out;
	}
	
	&.is-open {
		.dropdown-header {
			.open.icon {
				display: block;
			}
			.closed.icon {
				display: none;
			}
		}
		
		.dropdown-content {
			max-height: 200px;
			margin-bottom: 30px;
		}
	}
}

.faq-banner {
	position: relative;
	
	.plane {
		position: absolute;
			left: 5%;
			bottom: 0;
	}
	
	.sub-nav {
		margin-top: 50px;
		
		.cell {
			border: 1px solid $blue;
			color: $blue;
			padding: 20px 30px;
			border-left: 0px;
			border-radius: 1px solid $blue;
			
			&:first-of-type {
				border-left: 1px solid $blue;
			}
			a {
				color: $blue;
			}
		}
	}
}

.faq-contact-cta {
	h2 {
		margin-bottom: 30px;
	}
}